<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRAYATNAM BABY</title>
  <link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link rel="stylesheet" href ="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
    integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
  .event-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}
.event-list {
  overflow: hidden;
  height: 200px;
  position: relative;
}
.ZZ{
  display: inline-block;
}
.event-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.event-item.active {
  opacity: 1;
}

.event-item.up {
  transform: translate(0, -100%);
}

.event-item.down {
  transform: translate(0, 100%);
}

.event-item h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.event-item p {
  font-size: 16px;
  line-height: 1.5;
}

.event-item:nth-child(1) {
  animation: event-1 6s linear infinite;
}

.event-item:nth-child(2) {
  animation: event-2 6s linear infinite;
}

.event-item:nth-child(3) {
  animation: event-3 6s linear infinite;
}

@keyframes event-1 {
  0% {
    top: 0;
  }
  16.67% {
    top: 0;
  }
  33.33% {
    top: -200px;
  }
  50% {
    top: -200px;
  }
  66.67% {
    top: -400px;
  }
  83.33% {
    top: -400px;
  }
  100% {
    top: 0;
  }
}

@keyframes event-2 {
  0% {
    top: 200px;
  }
  16.67% {
    top: 200px;
  }
  33.33% {
    top: 0;
  }
  50% {
    top: 0;
  }
  66.67% {
    top: -200px;
  }
  83.33% {
    top: -200px;
  }
  100% {
    top: 200px;
  }
}

@keyframes event-3 {
  0% {
    top: 400px;
  }
  16.67% {
    top: 400px;
  }
  33.33% {
    top: 200px;
 
  }}
</style>
</head>

<body>
  
</body>
</html>


<h1 class="animate__animated animate__bounce">Prayatnam Club Rules</h1>
<p>Prayatnam is a club focused on...</p>
<img src="PP.jpg"class="ZZ" alt="pic">


<div class="clearfix">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fedubard.in%2Fmedia%2Fmedia%2Fnit_andhra.png&f=1&nofb=1&ipt=e7bdda8f13c4e5454b86812cef01737f3b20e8a741f6d6d4b6dc794fa67779a1&ipo=images" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
<h1>Hai <%=pq %> </h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, dolor, vitae placeat numquam quo possimus expedita doloremque ipsa molestiae minus necessitatibus, reiciendis dolore velit laboriosam illum praesentium distinctio similique sit.
      Adipisci possimus a, nam necessitatibus quas quod beatae vel magni blanditiis omnis sit quo? Sint, autem voluptatum? Maxime nam quos dolorum tenetur vel ab repellat, natus ad adipisci? Tempore, ducimus?
      Doloribus aut magni odio accusamus, dicta quam harum voluptatum deserunt pariatur adipisci quos cum architecto incidunt temporibus amet ad reprehenderit facilis aliquid officiis, est neque consequuntur praesentium. Dolores, esse laudantium.A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>
  </div>

  <div class="div">Prayatnam Club is a charitable organization dedicated to supporting underprivileged individuals by providing basic necessities such as food, clothing, and educational resources like books. Students contribute to this cause through donations and fundraising events. The club also provides support to those in need, empowering them to pursue their dreams and achieve their goals. Through their efforts, the Prayatnam Club aims to create a positive impact in the lives of those who are less fortunate, and to spread kindness and compassion in their community.</div>



<div><div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="event-box">
        <h3>Upcoming Events</h3>
        <div class="event-list">
          <div class="event-item">
            <h4>Event 1</h4>
            <p>Description of event 1</p>
          </div>
          <div class="event-item">
            <h4>Event 2</h4>
            <p>Description of event 2 </p>
          </div>
          <div class="event-item">
            <h4>Event 3</h4>
            <p>Description of event 3 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<style>
  .event-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}

.event-list {
  overflow: hidden;
  height: 200px;
  position: relative;
}

.event-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.event-item.active {
  opacity: 1;
}

.event-item.up {
  transform: translate(0, -100%);
}

.event-item.down {
  transform: translate(0, 100%);
}

.event-item h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.event-item p {
  font-size: 16px;
  line-height: 1.5;
}

.event-item:nth-child(1) {
  animation: event-1 6s linear infinite;
}

.event-item:nth-child(2) {
  animation: event-2 6s linear infinite;
}

.event-item:nth-child(3) {
  animation: event-3 6s linear infinite;
}

@keyframes event-1 {
  0% {
    top: 0;
  }
  16.67% {
    top: 0;
  }
  33.33% {
    top: -200px;
  }
  50% {
    top: -200px;
  }
  66.67% {
    top: -400px;
  }
  83.33% {
    top: -400px;
  }
  100% {
    top: 0;
  }
}

@keyframes event-2 {
  0% {
    top: 200px;
  }
  16.67% {
    top: 200px;
  }
  33.33% {
    top: 0;
  }
  50% {
    top: 0;
  }
  66.67% {
    top: -200px;
  }
  83.33% {
    top: -200px;
  }
  100% {
    top: 200px;
  }
}

@keyframes event-3 {
  0% {
    top: 400px;
  }
  16.67% {
    top: 400px;
  }
  33.33% {
    top: 200px;
 
  }}
</style>